.projetos {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
    .container {
      max-width: 100vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 35px;
      margin: 0 auto;
      padding: 40px 0;
  
      .card {
        position: relative;
        width: 300px;
        height: 400px;
        margin: 0 auto;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  
        .face1 {

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            box-sizing: border-box;
            padding: 20px;
  
            h2 {
              margin: 0;
              padding: 0;
            }
  
            .amarelo {
              color: #fffc00;

            }
  
            .azul {
              color: #fffc00;

            }
  
            .roxo {
              color: #fffc00;

            }
          }
  
          .face2 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            transition: 0.5s;
  
            h2 {
              margin: 0;
              padding: 0;
              font-size: 10em;
              color: #fff;
              transition: 0.5s;
              text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              z-index: 10;
            }
          }
        
      }
  
      .card:hover .face2 {
        height: 60px;
  
        h2 {
          font-size: 2em;
        }
      }
  
      .card:nth-child(1) .face2 {
        background-image: linear-gradient(
          40deg,
          #eba417 0%,
          #eba417 45%,
          #eba417 100%
        );
        border-radius: 15px;
      }
  
      .card:nth-child(2) .face2 {
        background-image: linear-gradient(
          40deg,
          #eba417 0%,
          #eba417 45%,
          #eba417 100%
        );
        border-radius: 15px;
      }
  
      .card:nth-child(3) .face2 {
        background-image: linear-gradient(
          40deg,
          #eba417 0%,
          #eba417 45%,
          #eba417 100%
        );
        border-radius: 15px;
      }
    }
  }
  

  .cab {
    padding: 2rem 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-size: 1.5rem;


    &::before{

        @media (max-width: 800px){
            display: none;
        }
        content: '';
        height: 1px;
        border: 3px 3px 0 0;
        width: 80%;
        position: absolute;
        bottom: 1px;
        left: 8rem;

        background: var( --yellow-500);
    }
}

.p{
    padding-top: 1rem;
    text-align: center;
    color: rgb(134, 128, 128);
}

.icons {
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.2s;

    &:hover {
        color: #eba417;
    }
}

.button {
  padding-top: 2rem;
  text-align: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    color: #000000;
  }

  a {
    text-decoration: none;

  }

  h3 {
    color: var(--yellow-500);
    margin-bottom: 0.5rem;
  }
}